.footer {
    background-color: black;
    color: white;
    padding: 1rem 1rem;
}

.footer-icons {
    display: flex;
    gap: 200px
    
}

.footer-icons h1 {
    color: #0135C7;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

}

.footer-icons p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;

}

.footer-socials > img {
    width: 20px;
    margin: 5px;
}

.footer-socials > p {
    font-size: 18px;
    color: #0135C7;
    font-family: 'Poppins', sans-serif;

}


.footer-container {
    display: flex;
    gap: 200px;
    margin-left: 50px
    
}

/* .footer-container {
    display: flex;
    gap: 200px;
    margin-left: 50px;
} */