/* .home-container {
    background: #0135C7;
    width: 100%;
    height: 100%;

} */

.home {
    background: #0135c7;
    /* height: 500px; */
}



.intro-link {
    display: flex;
    justify-content: center;
    gap: 20px;
    
    
}

.intro-link a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.intro-text {
    text-align: center;
    

}

.intro-text h1 {
    font-size: 64px;
    font-weight: 700;
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: normal;
}

.intro-text p {
    font-size: 24px;
    font-weight: 400;
    color: white;
    font-family: 'Poppins', sans-serif;
    
}

.img-container {
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-link {
    max-width: 100%;
}
