/* Import Google Font for animation */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

/* Reset some default styles and provide a basic styling */
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
h1,
h2,
ul,
li,
p {
  font-style: normal;
  line-height: normal;
}

/* Navbar.css */

.home-container {
  background: #0135c7;
  height: 25rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.nav-links {
  margin-left: 5rem;
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 50px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.mobile-menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Style the "Get Started" button */
.nav-right button {
  background-color: white;
  border-radius: 100px;
  border: none;
  color: #0135c7;
  padding: 8px 15px;
  cursor: pointer;
}

.nav-right button a {
  text-decoration: none;
  color: #0135c7;
}

/* Style the hamburger menu for mobile view */
@media (max-width: 768px) {
  .nav-container {
    position: relative;
  }

  .nav-left {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }

  .nav-left {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .mobile-menu-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-right {
    order: -1; /* Move .nav-right to the end */
  }

  .nav-left button {
    display: none;
    margin-top: 10px;
    background-color: #fff;
    color: #000;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid #000;
  }
}

.intro-text {
  margin: 4rem auto auto auto;
  text-align: center;
  max-width: 700px;
  color: #fff;
}

.intro-text h1 {
  font-size: 60px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.intro-text p {
  /* Adjust the color as needed */
  margin-bottom: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.intro-link {
  margin-top: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em; /* Adjust the font size as needed */
  cursor: pointer;
}

.img-container {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border-radius: 50%;
  border: 1px solid #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-link {
  height: auto;
  display: block;
  width: 10px;
}

.img-link-content {
  margin-left: 1rem;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .intro-text {
    max-width: 100%; /* Adjust as needed */
    padding: 0 20px; /* Adjust the padding as needed */
  }
}



.talents {
  padding: 80px 10% 90px 10%;
}
.talent-container {
  max-width: 1200px;
  margin: 0 auto;
}

.talent-container h1 {
  text-align: left;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.talent-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 34px;
}

/* .buttonLink {
  font-size: 15px;
  background-color: #0135c7;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: -1.1rem;
  border-radius: 100px;

} */

.buttonLink {
  font-size: 15px;
  background-color: #0135c7;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: -1.1rem;
  border-radius: 100px;
}

.btn-link {
  border: none;
  color: black;
  background-color: white;
}



.talents-link {
  display: flex;
  justify-content: center;
}

.talentlink-Btn {
  padding: 16px 30px;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid rgba(1, 53, 199, 0.5);
  background: #fff;
  margin-top: 30px;
}

/* Add general styles for the talent card container */
.card {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: space-between; /* Distribute space between cards */
  /* margin-right: -50px; */
}

.talentCard {
  width: calc(32.333% - 15px); /* Calculate one-third width with margin */
  margin-bottom: 30px; /* Add margin between rows */
  margin-right: 30px; /* Add margin-right after each talent card */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Set flex direction to column */
  transition: transform 0.3s ease-in-out;
}

/* Remove margin-right for the last talentCard to prevent extra space */
.talentCard:nth-child(3n) {
  margin-right: 0;
}

/* Hover effect for reward card */
.talentCard:hover {
  transform: translateY(-5px);
}

/* Style the thumbnail image */
.talentCard-thumbnail {
  width: 100%;
  height: auto;
  display: block;
}

/* Style the talent card information section */
.talentCard-info {
  padding: 10px;
  display: flex;
}

/* Style the talent avatar image */
.talent-avatar {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  top: -2.2rem;
  left: 5px;
}

/* Style the talent text (name and title) */
.talent-text {
  flex: 1;
  display: flex;
  flex-direction: column; /* Set flex direction to column */
}

/* Style the talent name */
.talent-text h3 {
  margin: 0;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Style the talent title */
.talent-text p {
  margin: 0;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Style the talent button */
.talent-btn {
  background-color: #fff;
  color: #0135c7;
  cursor: pointer;
  font-size: 1em;
  margin: 10px 2rem; /* Add margin to separate from talent text */
  transition: background-color 0.3s;
  border-radius: 6px;
  border: 1px solid #0135c7;
  display: flex;
  padding: 6px 33px;
  align-items: center; /* Center the content horizontally */
  justify-content: center;
}

/* Hover effect for the button */
.talent-btn:hover {
  background-color: #0135c7;
  color: #fff;
}

/* Style for the AboutUs container */

.AboutUs {
  padding: 0px 10%;
}

.AboutUs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

/* Style for the reward cards */
.reward-container {
  display: flex;
  flex: 5;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -30px;
}

/* Style for individual reward card */
.reward-card {
  width: calc(36% - 15px); /* Calculate one-third width with margin */
  display: flex;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-direction: column; /* Set flex direction to column */
  background-color: #fff;
  padding: 10px 29px 12px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 1px rgba(51, 51, 51, 0.1);
  transition: transform 0.3s ease-in-out;
}

/* Hover effect for reward card */
.reward-card:hover {
  transform: translateY(-5px);
}

.reward-card::nth-child(2n) {
  margin-right: 0;
}

/* Style for reward card images */
.reward-card img {
  width: 32px;
  height: 46.862px;
  object-fit: cover;
  border-radius: 8px;
}

.reward-card h1 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.reward-card p {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 400;
  margin-top: -0.5rem;
}

/* Style for about-info section */
.about-info {
  flex: 5;
  padding: 40px 0px 40px 40px;
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Style for the main heading in about-info */
.about-info h1 {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

/* Style for the subheading in about-info */
.about-info h2 {
  font-size: 36px;
  color: #212121;
  margin-bottom: 20px;
  font-weight: 500;
  margin-top: -0.5rem;
}

/* Style for the paragraph in about-info */
.about-info p {
  color: #5e5e5e;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

/* Add animation to main heading */
.about-info h1 {
  animation: fadeInUp 1s ease-in-out;
}

/* Add animation to subheading */
.about-info h2 {
  animation: fadeInUp 1s ease-in-out 0.5s;
}

/* Add animation to paragraph */
.about-info p {
  animation: fadeInUp 1s ease-in-out 1s;
}

/* Animation keyframes */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Style for the contact container */
.contact {
  padding: 50px 10%;
}

/* Style for the contact container */
.contact-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

/* Style for the form section */
.form {
  flex: 5;
  background-color: #fff;
  /* padding: 40px; */
  padding-right: 1rem;
  border-radius: 10px;
  box-shadow: 2px 20px 30px 0px rgba(51, 51, 51, 0.1);
}

/* Style for form inputs and textarea */
.form input,
.form textarea {
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  margin-bottom: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

.contactBTN {
  display: flex;
  justify-content: flex-end;
}

/* Style for the send message button */
.contact-btn {
  background-color: #0135c7;
  border-radius: 100px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

/* Hover effect for the button */
.contact-btn:hover {
  background-color: #2980b9;
}

/* Style for the contact info section */
.contact-info {
  flex: 5;
  padding: 40px 0px 40px 40px;
  margin-left: 2.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Style for the main heading in contact info */
.contact-info h1 {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

/* Style for the subheading in contact info */
.contact-info h2 {
  font-size: 36px;
  color: #212121;
  margin-bottom: 20px;
  font-weight: 500;
  margin-top: -0.5rem;
}

/* Style for the paragraph in contact info */
.contact-info p {
  font-size: 1.2em;
  color: #666;
  line-height: 1.6;
}

/* Style for the footer container */
.footer {
  background-color: #000;
  color: #fff;
  padding: 58px 166px 58.887px 150px;
}

/* Style for the footer container */
.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

/* Style for the footer icons section */
.footer-icons {
  display: flex;
  align-items: center;
}

/* Style for the footer image */
.footer-img,
.footer-link {
  margin-right: 220px;
}

.footer-img img {
  width: 100px;
  height: 95.113px;
}

/* Style for the header in footer icons */
.footer-icons h1 {
  color: #0135c7;
  font-size: 18px;
  font-weight: 600;
}

/* Style for the paragraph in footer icons */
.footer-icons p {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

/* Style for the links section in footer */
.footer-socials {
  display: flex;
  flex-direction: column;
}

/* Style for the paragraph in footer socials */
.footer-socials h1 {
  font-size: 1.2em;
  color: #0135c7;
  font-size: 18px;
  font-weight: 600;
}

/* Style for the social media icons in footer */
.footer-socials img {
  height: auto;
  margin: 0 5px;
  width: 32px;
  height: 32px;
}

/* Hover effect for the social media icons */
.footer-socials img:hover {
  opacity: 0.8;
}

@media (max-width: 1870px) {
  .footer-img,
  .footer-link {
    margin-right: 180px;
  }
}

/* style for the profile container  */
.profile-container {
  background: #0135c7;
  height: 20rem;
}

.profile-text {
  margin: 2rem auto auto auto;
  text-align: center;
  max-width: 600px;
  color: #fff;
}

.profile-text h1 {
  font-size: 45px;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
 
/* style for the profile bio */
.profile-cards {
  display: flex;
  gap: 20px;
  
}

.profile-bio {
  padding: 50px 5% 60px 5%;
}

/* style for the line */ 


/* style for profile info */

.profile-info p {
  font-size: 16px;
  color: #666;
  line-height: normal;
  width: 300px;
 
}

.profile-intro {
  display: flex;
  gap: 100px;
}

/* styling the profile-pricing container */
.grid-container {
  display: grid;
  border: 1px solid rgba(0, 0, 0, 0.20);
  border-radius: 20px;
  grid-template-columns: repeat(2, 1fr); /* Three columns with equal width */
   /* Add a gap between grid items */
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.20);
  padding: 10px;
  /* text-align: center; */
}

.grid-item3 {
  margin-left: 100px;
}

.profile-services {
  display: flex;
  gap: 20px;
}

.profile-pricing {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF;
  box-shadow: 0px 0px 20px 1px rgba(51, 51, 51, 0.10);
  /* width: 248px; */
  padding: 20px 20px 11px 20px;
  align-items: flex-start;
  margin-top: 30px;
}

/* styling the hashlink */
.profile-hashlink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 34px;
}

/* styling the image contain of the highlight container */
.image-contain {
  position: relative;
}

.background-img {
  object-fit: cover;
  width: 100px;
}

.overlay-img {
  position: absolute;
  top: 5%;
  /* left: 10%; */
  right: 1%;
  transform: translate(-50%, -50%); /* Center the overlay image */
  z-index: 1;
}

.artist-img {
  display: flex;
  gap: 10px;
  align-items: center;
  
}

.star-img {
  display: flex;
  align-items: center;
}

.highlight-intro p {
  font-size: 16px;
}

.highlight-intro {
  max-width: 600px;
  margin-left: 30px;
}

.star-intro h1 {
  font-size: 18px;
}

.star-intro p {
  font-size: 14px;
  line-height: normal;
}

.star-img p {
  font-size: 10px;
}

.star-intro {
  flex-direction: column;
}

.profile-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.link-icon {
  font-size: 18px;
  border: 1px solid white;
  border-radius: 50%;
  color: blue;
}

.profile-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* styling the highlight container  */
.highlight-container {
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF;
  box-shadow: 0px 0px 20px 1px rgba(51, 51, 51, 0.10);
  border-radius: 20px;
  margin-bottom: 20px;
  max-width: 670px;
  /* width: 670px; */
  height: 750px;

}

.description-container {
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF;
  box-shadow: 0px 0px 20px 1px rgba(51, 51, 51, 0.10);
  border-radius: 20px;
  margin-bottom: 20px;
  max-width: 670px;
  /* width: 670px; */
  height: 570px;


}

.available-container {
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF;
  box-shadow: 0px 0px 20px 1px rgba(51, 51, 51, 0.10);
  border-radius: 20px;
  margin-bottom: 20px;
  max-width: 670px;
  /* width: 670px; */
  height: 570px;

}

.Reviews-container {
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF;
  box-shadow: 0px 0px 20px 1px rgba(51, 51, 51, 0.10);
  border-radius: 20px;
  margin-bottom: 20px;
  max-width: 670px;
  /* width: 670px; */
  height: 790px;

}


/* styling the reviews */
.star-icon {
  font-size: 20px;
  color: #FFB800;
}

.reviews-icon {
  display: flex;
  gap: 20px;
  align-items: center;
}

.star {
  display: flex;
  margin-left: 250px;
  
}

.reviews-container {
  display: flex;
}

.review-button {
  border: 1px solid black;
  padding: 8px;
  color: black;
  background-color: white;
  border-radius: 100px;
  margin-top: 20px;

}

/* styling the availabe container */
.rectangle1 {
  width: 30px;
  height: 30px;
  background:  #D9D9D9;
  display: flex;
  align-items: center;
  
}

.rectangle2 {
  width: 30px;
  height: 30px;
  background: #FFB800;
  display: flex;
  align-items: center;

}

.rectangle3 {
  width: 30px;
  height: 30px;
  background: #06A733;
  display: flex;
  align-items: center;

}

.rectangle4 {
  width: 30px;
  height: 30px;
  background: #EFECEC;
  display: flex;
  align-items: center;
  
}

.rectangle1 p {
  margin-left: 35px;
}

.rectangle2 p {
  margin-left: 35px;
}

.rectangle3 p {
  margin-left: 35px;
}

.rectangle4 p {
  margin-left: 35px;
}

.rectangle-cards {
  display: flex;
  gap: 120px;
}

/* styling the calendar */

/* styling the navbar of the account */
.navBar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}


.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLeft {
  display: flex;
  align-items: center;
}

.Logo {
  background: none;
  color: #0135c7;
  width: 50px;
  height: auto;
  margin-right: 10px;
  
}

.navLinks {
  margin-left: 5rem;
  list-style: none;
  display: flex;
}

.navLinks li {
  margin-right: 50px;
}

.navLinks a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.navRight {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 550px;
}

hr {
  background-color: #000;
}

/* styling the account btn */
.account-btn {
  display: flex;
  gap: 150px;
  align-items: center;
  margin-top: 38px;
  margin-left: 80px;
  
  
}

/* styling the account form */
.account-form {
  display: flex;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}


label {
  color: black;
  margin-bottom: 2px;
}

/* form {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  margin: auto;
  max-width: 700px;
} */

/* form input, form textarea {
  margin-bottom: 5px;
  padding: 10px 18px;
  
} */

form {
  flex: 5;
  background-color: #fff;
  padding: 40px;
  padding-right: 1rem;
  border-radius: 10px;
  box-shadow: 2px 20px 30px 0px rgba(51, 51, 51, 0.1);
  
}



form input, form textarea {
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  margin-bottom: 5px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

.account__form {
  flex: 4; /* 40% */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}


.account-info {
  padding: 20px 100px;
}

/* styling the booking btn */
.bookings-btn {
  display: flex;
  border: 1px solid #0135C7;
  border-radius: 10px;
  width: 240px;
  padding: 4px;
  margin-bottom: 20px;
}

.books-btn {
  padding: 11.5px 38px;
  background: #0135C7;
  border-radius: 5px;
}

.book-btn {
  padding: 11.5px 38px;
  border: 5px;
  background: white;
}



/* styling the booking history */
.bookings-history {
  /* display: inline-flex; */
  /* gap: 30px; */
  /* align-items: center; */
  border: 1px solid rgba(0, 0, 0, 0.20);
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 0px 20px 1px rgba(51, 51, 51, 0.10);
  padding: 9px 40px;
  margin-bottom: 20px;
  width: 1090px;

}

.bookingshistory-text {
  display: inline-flex;
  align-items: center;
  gap: 30px;
}

.status-btn {
  border-radius: 50px;
  background: #28832B;
  width: 100px;
  padding: 15px;
  font-size: 16px;
  color: white;
}

.req-btn {
  border-radius: 50px;
  background:  #DBA10E;
  width: 130px;
  padding: 15px;
  font-size: 16px;
  color: white;
}

.blue-btn {
  border-radius: 50px;
  background: #0135C7;
  width: 130px;
  padding: 15px;
  font-size: 15px;
  color: white;
}

.red-btn {
  border-radius: 50px;
  background: #EA4335;
  width: 130px;
  padding: 15px;
  font-size: 16px;
  color: white;
}

.history-info h2 {
  font-size: 20px;
  font-family: Poppins;
}

.history-info p {
  font-size: 16px;
  color: #5E5E5E;
}

.history-Info h3 {
  font-size: 16px;
  color: #5E5E5E;

}

.history-Info p {
  font-size: 18px;
  color: #212121;
  font-family: Poppins;
}

.booking-logo {
  width: 35px;
  height: 35px;
  color: #0135C7;
}

.bookings-info {
  padding: 10px 80px;
}

.buttonsLink {
  padding: 11.5px 38px;
  background: #0135C7;
  border-radius: 5px;
}

.btns-link {
  border: none;
  color: black;
  background-color: white;
}

/* styling the offer bio */
.offer-bio {
  display: flex;
  gap: 10px;
  align-items: center;
}

.offer-bio h1 {
  font-size: 18px;
}

.offer-bio p {
  font-size: 16px;
}

.offer-card {
  width: 300px;
  height: 320px;
  padding: 15px;
  border: 1px solid black;
}

.offers-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.acc-btn {
  padding: 10px;
  width: 127px;
  color: #0135C7;
  border: 1px solid #0135C7;
  background-color: white;

}

.rej-btn {
  padding: 10px;
  width: 127px;
  background-color:#EA4335;
  color: white;
  border: 1px solid #EA4335;
  
}

.offer-card h1 {
  font-size: 20px;
  font-weight: 600;
}

.offer-card p {
  font-size: 18px;
}

.offers-cards {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 80px;
  margin-bottom: 80px;
}





