/* Register */

body,
html {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  font-style: normal;
  line-height: normal;
  font-family: "Poppins", sans-serif;
}

.authContainer {
  display: flex;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide overflow to prevent scrolling */
}

.authLeft {
  flex: 6; /* 60% */
  padding: 20px;
  border-radius: 0px 0px 162.68px 0px;
  border: 20px solid #0135c7;
  background: #0135c7;
  position: relative;
  overflow: hidden;
  transform: rotate(-37.891deg);
  display: block;
  top: -5rem;
  margin-left: -32%;
  height: 1171.361px;
  flex-shrink: 0;
}

.authLeft img {
  border-radius: 0px 0px 162.68px 0px;
  border: 5px solid #fff;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* or 'contain' based on your preference */
}

.authRight {
  flex: 4; /* 40% */
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden; 
}

.authRight form {
  display: flex;
  flex-direction: column;
  max-width: 100%; /* Set a max-width for better readability on larger screens */
  margin: 0 auto; /* Center the form horizontally */
  width: 50%;
  padding: 20px;
}

.authRight form a {
  text-decoration: none;
  color: #000;
}

.authRight h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 0px;
  text-align: center;
}

.authRight p {
  color: gray;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.authRight .input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom:5px;
}

.authRight .input-container .icon,
.authRight .password-container .icon {
  position: absolute;
  left: 8px;
  color: grey;
  top: 60%;
  transform: translateY(-50%);
}

.authRight input {
  flex: 1;
  padding: 12px 12px 12px 30px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background: #e7e7e7;
}

.verify-form{
  height:100vh;
  justify-content: center;
}

.authRight label {
  font-size: 12px;
  margin-top: 8px;
}

.verify-form  .input-box {
  display: flex;
  gap: 8px;
  justify-content: center;
}

#resend{
  color: blue;
}

.input__box {
  border: 1px solid black;
  width:35px;
  height: 40px;
  color: black;
}

 .input__box:focus{
  border: none;
  outline: none;
  color: black;
}

.input-container .label {
  margin-right: 8px;
}
.Signin-cont .icon{
  font-size: 18px;
 
}

.authRight button {
  background-color: #4caf50;
  color: white;
  margin-top: 15px;
  margin-bottom: 13px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 7px;
  background: #255aeb;
}
.authRight #signin {
  color: white;
  margin-top: 15px;
  margin-bottom: 13px;
  padding: 14px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 7px;
  background: #255aeb;
}

.authRight button:hover {
  background-color: #255aeb;
}

.authRight p a {
  color: #0135c7;
  text-decoration: none;
  font-weight: bold;
  font-weight: 400;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.password-container input {
  flex: 1;
  padding: 12px 12px 12px 30px;
  font-size: 16px;
}

.input-container input:focus{
  outline:none;
}

.password-container input:focus{
  outline:none;
}

.password-container .eye-icon {
  position: absolute;
  right: 10px; /* Adjust the right position as needed */
  cursor: pointer;
  top: 50%;
  font-size: 22px;
  color: gray;
}

/* Additional styling for the eye icon, for example, change color on hover */
.password-container .eye-icon:hover {
  color: #0135c7;
}

.checkbox-container {
  display: flex;
  margin: 2px 0;
  align-items: center;
}

.checkbox-container-Login {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

.checkbox-container-Login .check-me{
  width: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.checkbox-container-Login .check-me span{
  margin-top:13px;
  margin-left: 7px;
}

.input-container input[type= 'date']::placeholder{
  color: gray;
}

.forgot-Psw{
  margin-top: 13px;
}

.checkbox-container-Login .check-me input[type= 'checkbox']{
  height:20px;
  width: 27px;
  padding: 0px;
  border: none;
}
.checkbox-container input[type= 'checkbox']{
  height:20px;
  padding: 0 5px;
  border: none;
}

.checkbox-container label{
  width: 92%;
  margin-top: 22px ;
}

.checkbox-container label span{
  color: blue;
  font-weight: 500;
}

.para-account p{
  font-size: 14px;
}

#account-check{
  font-size: 15px;
}

.checkbox-container input {
  /* margin-right: 8px; */
}

@media (max-width: 891px) {
  .authRight form {
    width: 80%;
  }
  .authRight {
    flex: 5; /* Take up the full width on smaller screens */
    margin-left: 0px;
  }
}

@media (max-width: 1870px) {
  .authLeft {
    flex: 5; /* 60% */
    /* top: -27rem;
    left: 70px; */
    top: -19rem;
    left: 100px;
  }

  .authRight {
    flex: 5; /* Take up the full width on smaller screens */
    margin-left: 10rem;
  }
}

/* Mobile view */
@media (max-width: 1350px) {
  .authContainer {
    flex-direction: column; /* Change to a column layout for smaller screens */
  }

  .authLeft {
    display: none; /* Hide authLeft on smaller screens */
  }

  .authRight {
    flex: 1; /* Take up the full width on smaller screens */
    padding: 20px;
    margin-left: 0px;
  }
}

@media (min-width: 2230px) {
  .authLeft {
    top: 14rem;
    left: -21rem;
  }
}
