.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    width: 90%;

}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-right {
    display: flex;
    align-items: center;
    
}

.nav-left > img {
    margin: 5px;
}

.nav-links {
    display: flex;
    margin-left: 40px;
    gap: 60px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

