.talent-container {
    flex: 0.8;
    border: 0px solid #000000;
    padding: 20px 20px;
    padding-bottom: 0;
    
    
}

a {
    text-decoration: none;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.talents {
    margin-left: 60px;
    padding: 1rem 0rem;
}

.talent-container h1 {
    font-size: 48px;
    font-weight: 700;
    margin-left: 30px;
    margin-bottom: 20px;
    
}

.talent-link a {
    text-decoration: none;
    color: black
}

.talent-link {
    display: flex;
    gap: 75px;
    align-items: center;
}

.talents-link {
    text-align: center;
    
    
}

.talentlink-Btn {
    border: 1px solid #0135C7;
    padding: 16px;
    width: 150px;
    border-radius: 40%;
    background-color: white;
    
}

