.talent-container {
    flex: 0.8;
    border: 0px solid #000000;
    padding: 20px 20px;
    padding-bottom: 0;
    width: 90%;
    
    
}

button {
    border: none;
    font-size: 15px;
    background-color: white;
    
}

a {
    text-decoration: none;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.talents {
   display: flex;
   align-items: center;
   justify-content: center;
}

.talent-container h1 {
    font-size: 48px;
    font-weight: 700;
    /* margin-left: 30px; */
    margin-bottom: 20px;
    
}



.talent-link {
    display: flex;
    align-items: center;
    gap: 58px;
    margin-bottom: 5px;
    

}





.talents-link {
    text-align: center;
    
    
}

.talentlink-Btn {
    padding: 16px 30px;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid rgba(1, 53, 199, 0.50);
    background: #fff;
    margin-top: 30px;
    
}

.all {
    border-radius: 100px;
    background: #0135C7;
    display: flex;
    padding: 14px 28px;
    align-items: flex-start;
    gap: 10px;

}



