.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin-left: 40px;

}

.nav-right {
    display: flex;
    align-items: center;
    
}

.nav-left > img {
    margin: 5px;
}

.nav-links {
    display: flex;
    margin-left: 40px;
    gap: 60px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

